#google_logo{
  height: 300px;
  top: 150px;
  text-align: center;
  margin: 0 auto;
  width: 30%;
  position: relative;

}
div img{
  width: 100%;
  margin: 0, auto;
  text-align: center;
}
#search_box{
  box-shadow: 0px 1px 2px 1px rgba(128, 128, 128, 0.55);
  border-radius: 2px;
  height: 42px;
  width: 50%;
 top: 50%;
  position: absolute;
  text-align: left;
  margin: 0, auto;
  border: none;
  padding: 3px;
  left: 25%;
  right: 25%;
}
.container{
  width: 100%;
  margin: 0, auto;
  text-align: center;
}

.box_button{
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 13px;
  display: inline;
  position: absolute;
  background-color: #f8f8f8;
  border: 1px solid #f2f2f2;
  padding: 12px 16px;
  margin: 11px 4px;
  top: 60%;
  width: 14%;
  color: rgba(68, 68, 68, 0.83);
  font-weight: bold;
  border-radius: 2px;
}
#google_search{
  display: inline-block;
  margin: 0 auto;
  left: 35%;

}
#feeling_lucky{
  right: 35%;
  display: inline-block;
  margin: 0 auto;
}
#top_navbar{
  top: 0;
}
#bottom_navbar{
  bottom: 0;
  background-color: #f2f2f2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  margin-left: -10px;
}
.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  height: 40px;
}
#top_navbar li > *{
  float: right;
  padding: 5px;
  height: 30px;
  width: 30px;
  display: inline-block;
  margin: 10px;
  margin: 15px 15px 0px 15px;
  text-align: center;
  vertical-align: middle;
}
#top_navbar img{
  opacity: .7;
  height: 20px;
  width: 20px;
}
.text_link{
  text-decoration: none;
  color: black;
}

#top_navbar button{
  background-color: rgba(0, 85, 255, 0.73);
  border-radius: 1px;
  border: none;
  color: white;
  font-weight: bold;
  width: 60px;
  margin-right: 30px;
}

#bottom_navbar .left_bottom a{
  text-decoration: none;
  color: grey;
  text-align: center;
  padding: 14px;
  vertical-align: center;
  float: left;
  font-size: .85em;
  padding-left: 20px;
}
#bottom_navbar .right_bottom a{
  text-decoration: none;
  color: grey;
  text-align: center;
  padding: 14px;
  vertical-align: center;
  float: right;
  font-size: .85em;
  padding-right: 20px;
}
li a > img{
  height: 30px;
  width: 30px;
}

li button{
  width: 60px;
  top: 20px;
  padding: 8px;
}

.text_link:hover, #bottom_navbar li a:hover{
  text-decoration: underline;
}

#top_navbar img:hover{
  opacity: 1;
}
.box_button:hover{
  border: 1px solid rgba(0, 0, 0, 0.37);
  color: black;
}
#search_box:focus{
  outline: 0;
  box-shadow: 1px 2px 4px 2px rgba(128, 128, 128, 0.55);

}